.document-wrapper {
  display: flex;
}

.project-container {
  overflow-y: scroll;
  width: calc(100% - 270px);
  box-sizing: border-box;

  .hovered {
    outline: 2px solid #462bdeb2 !important;
    outline-offset: -2px !important;
    visibility: visible !important;
  }

  & * {
    outline: 1px dashed #bcbcbcb2 !important;
    outline-offset: -1px !important;
  }
}

