.main {
    display: flex;
}

.form {
    width: calc(50% - 120px);
    padding: 60px;
}

.form > .title {
    font-weight: bold;
    color: #592d91;
    font-size: 28px;
    margin-bottom: 50px;
}

/* form-item */
.form-item {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    padding: 15px;
    margin-bottom: 20px;
}

.form-item:hover {
    background: #f7f7f7;
}

.form-item .icon-wrapper {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    border-radius: 20px;
    margin-right: 25px;
}

.form-item:hover .icon-wrapper {
    background: #61bfa3;
}

.form-item .icon-wrapper .icon {
    width: 30px;
    height: 30px;
}

.form-item .title {
    color: #a0a1a1;
    font-size: 16px;
}

.form-item:hover .title {
    color: #61bfa3;
}

.form-item .arrow {
    visibility: hidden;
    width: 20px;
    margin-left: auto;
}

.form-item:hover .arrow {
    visibility: visible;
}

.action-wrapper {
    margin: 30px;
    padding: 70px 40px 0 40px;
    border-radius: 30px;
    background: #5a2e92;
}

.action-wrapper .title {
    color: white;
    margin: 0;
    margin-bottom: 30px;
}

/* vehicle-choose */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}

.card-wrapper .image {
    position: relative;
    margin-bottom: 20px;
    margin-left: 30px;
}

.card-wrapper .image .background-circle {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.card-wrapper .image .vehicle-icon {
    width: 150px;
    height: 120px;
    object-fit: fill;
    position: absolute;
    right: 10px;
    bottom: -10px;
}

.card-wrapper .name {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-wrapper .capacity {
    margin-bottom: 10px;
    font-size: 14px;
}

.card-wrapper .size {
    margin-bottom: 10px;
    font-size: 14px;
}
