.built-in-button {
  position: fixed;
  cursor: pointer;
  padding: 1rem;
  background-color: aqua;
  display: block;
  left: -4.5rem;
  bottom: 6rem;
  transform: rotateZ(90deg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 10000;
  opacity: 0.3;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);

  .inner {
    display: flex;
    align-items: center;
    width: 7rem;
    margin-bottom: -2rem;
    padding-top: 2rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }

  &:hover {
    opacity: 1;

    transform: rotateZ(90deg) translateY(-50%);
    -webkit-transform: rotate(90deg) translateY(-50%);
    -moz-transform: rotate(90deg) translateY(-50%);
    -o-transform: rotate(90deg) translateY(-50%);
    -ms-transform: rotate(90deg) translateY(-50%);

    .inner {
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  img {
    margin-right: 5px;
  }
}