body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main .hovered {
  outline: 2px solid #462bdeb2 !important;
  outline-offset: -2px !important;
  visibility: visible !important;
}

.main * {
  outline: 1px dashed #bcbcbcb2 !important;
  outline-offset: -1px !important;
}